service: wattstone-report-api
frameworkVersion: '3'

custom:
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'eu-central-1'}
  ssmBase: /wattstone/${self:custom.stage}

provider:
  name: aws
  runtime: nodejs20.x
  architecture: arm64
  region: ${opt:region, 'eu-central-1'}
  stage: ${opt:stage, 'dev'}
  logRetentionInDays: 14
  timeout: 29
  memorySize: 1536
  httpApi:
    cors: true
  environment:
    BREVO_DISABLED:   ${ssm:/wattstone/${sls:stage}/BREVO_DISABLED}
    BREVO_KEY:        ${ssmSecure:/wattstone/${sls:stage}/BREVO_KEY}
    MAIL_FROM_EMAIL:  ${ssm:/wattstone/${sls:stage}/MAIL_FROM_EMAIL}
    MAIL_FROM_NAME:   ${ssm:/wattstone/${sls:stage}/MAIL_FROM_NAME}
    MAIL_DELIVERY_MODE: ${ssm:/wattstone/${sls:stage}/MAIL_DELIVERY_MODE}
    CDN_LOGO:         ${ssm:/wattstone/${sls:stage}/CDN_LOGO}
    STAGE:            ${sls:stage}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - ssm:GetParameter
            - ssm:GetParameters
          Resource:
            - arn:aws:ssm:${opt:region, 'eu-central-1'}:*:parameter/wattstone/${sls:stage}/*


package:
  patterns:
    - src/**
    - node_modules/**
    - '!**/*.map'
    - '!tests/**'
    - '!README.md'
  artifactsS3KeyDirname: serverless/${self:service}/${self:custom.stage}/code-artifacts

functions:
  render:
    handler: src/handlers/render.handler
    events:
      - httpApi:
          path: /reports
          method: post
  health:
    handler: src/handlers/health.handler
    events:
      - httpApi:
          path: /health
          method: get